# compiled output
/dist
/node_modules
*/out/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# misc
*/.vs/
*.lsif
*.db
tsconfig.lsif.json
